@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Paytone+One&display=swap');

html{
  font-size: 100%;
}

body {
  color: #333;
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
  overflow-x: hidden;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1260px;
  padding: 0 30px;
  margin: 0 auto;
}

.sec-title {
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
  margin-bottom: 60px;
}

.sec-title .ja {
  font-size: 1.875rem;
}

.sec-title .en {
  font-size: 1rem;
  margin-left: 20px;
}
.sp-only {
  display: none;
}

.catchcopy a, .contact-btn input{
  width: 300px;
  border-radius: 5px;
  border: 2px solid #FF5757;
  padding: 10px 15px;
  color: #FF5757;
  background-color: #FFF;
  font-size: 1.25rem;
  font-weight: 500;
  transition: 0.3s ease-out;
  background-position: 0% 50%;
  background-size: 200% auto;
}

.contact-btn {
  text-align: center;
}

.catchcopy a:hover, .contact-btn input:hover {
  background-color: #FF5757;
  color: #FFF;
}

.return-btn {
  position: fixed;
  width: 40px;
  height: 40px;
  background-color: #FFF;
  border: 3px solid #FF5757;
  bottom: 20%;
  right: 30px;
  cursor: pointer;
  border-radius:  10px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 5;
}

.return-btn.show {
  visibility: visible;
  opacity: 0.8;
}

.return-btn::before,
.return-btn::after
{
  content: "";
  position: absolute;
  width: 22px;
  height: 5px;
  background-color: #FF5757;
  top: 13px;
}

.return-btn::before {
    transform: rotate(45deg);
    right: 0;
}
.return-btn::after {
  transform: rotate(-45deg);
  left: 0;
}

.loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
  background: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: all 0.5s linear;
}

.loading.loaded {
  transform: translateY(-150%);
  visibility: hidden;
  opacity: 0;
}

.loading-letters {
  letter-spacing: 0.2em;
  font-family: "Paytone One", sans-serif;
  font-size: 5rem;
  font-weight: 600;
  color: #FF5757;
}
.loading-letter{
  animation: loading-animation 0.7s ease-in-out forwards;
  transform: translateY(0) scale(0);
  display: inline-block;
}
.loading-letter:nth-child(2){
  animation-delay: 0.3s;
} 
.loading-letter:nth-child(3) {
  animation-delay: 0.6s;
} 
@keyframes loading-animation {
  0% {
    transform: translateY(0px) scale(0);
  }
  30% {
    transform: translateY(30px) scale(0.3);
  }

  50% {
    transform: translateY(50px) scale(0.5);
  }

  70% {
    transform:translateY(-40px) scale(1);
  }
  100% {
    transform:translateY(0px) scale(1);
  }
}


.loading-text {
  font-family: "Paytone One", sans-serif;
  font-weight: 600;
  opacity: 0;
  animation: loading-fadein 0.3s ease-in-out 2s forwards; 
}

@keyframes loading-fadein {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.loading-text.show {
  transform: translateY(0);
  opacity: 1;
}
/*************************************************
header
*************************************************/
.header-sp {
  display: none;
}

header {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #FFF;
}
.header-inner{
  max-width: 1400px;
  height: 80px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
} 

.pc-logo {
  width: 130px;
  height: 40px;
}

.pc-logo a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.pc-logo a img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}

.header-block {
  display: flex;
  align-items: center;
}

.header-item a .header-info,
.header-item a .header-contact{
  object-fit: cover;
  border-radius: 4px;
  vertical-align: bottom;
  width: 190px;
  height: 40px;
  object-fit: cover;
}

.header-list {
  display: flex;
  align-items: center;
}

.header-item{
  margin-left: 15px;
}
.header-item a{
  display: inline-block;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}

.header-item a:hover {
  opacity: 0.5;
}
.header-item a .fa-brands{
  font-size: 1.5rem;
  color: #000;
}
.pc-menu-btn {
  width: 25px;
  height: 30px;
  cursor: pointer;
}

.pc-menu-btn .fa-bars {
  font-size: 1.875rem;
  color: #FF5757;
}

nav {
  opacity: 0;
  transition: 0.3s;
  position: fixed;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  visibility: hidden;
}

nav.active {
  opacity: 0.9;
  z-index: 20;
  visibility: visible;
}

.nav-menu {
  margin-bottom: 20px;
}
.nav-menu .nav-menu-item:not(:last-child){
  margin-bottom: 20px;
}
.nav-menu .nav-menu-item a {
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  color: #FFF;
  transition: 0.3s ease-in;
  text-align: center;
}

.nav-menu .nav-menu-item a:hover {
  opacity: 0.5;
}

.nav-menu .nav-menu-item .nav-sns {
  display: flex;
  justify-content: center;
}

.nav-menu .nav-menu-item .nav-sns .nav-sns-item:first-child {
  margin-right: 10px;
}
.nav-menu .nav-menu-item .nav-sns .nav-sns-item a .fa-brands{
  font-size: 2rem;
  color: #FFF;
}


.close-btn .fa-xmark{
  position: fixed;
  font-size: 2rem;
  color: #FFF;
  top: 30px;
  right: 30px;
  cursor: pointer;
}
/*************************************************
mainvisual
*************************************************/

.mainvisual {
  max-width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  padding-top: 80px;
}
  

.mainvisual picture source, .mainvisual picture img {
   width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 0%;
}

.mainvisual-text {
  position: absolute;
  bottom: 3%;
  left: 4%;
  z-index: 2;
  width: 45%;
}
.catchcopy {
  display: block;
  font-size: clamp(1.5rem, 2vw, 4rem);
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 30px;
  color: #333;
  text-shadow: 3px 3px 5px #ffffff;
}


.mainvisual-list {
  display: flex;
  align-items: center;
  column-gap: 1em;
}

.mainvisual-item {
  width: calc((100% - 2em) / 3);
  height: auto;
  aspect-ratio: 1/1;
  font-size:  clamp(0.875rem, 1.5vw, 4rem);;
  background-color: #FF5757;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainvisual-item span {
  font-size: clamp(0.875rem, 1vw, 1.25rem);
  font-weight: 600;
  color: #FFF;
  text-align: center;
}
/*************************************************
feature
*************************************************/

#feature {
  background-color: #FFF;
  padding-top: 120px;
}
.feature-text {
  font-size: 1.25rem;
  line-height: 2;
  margin-bottom: 60px;
  text-align: center;
}
.feature-inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feature-box {
  width: 45%;
}

.feature-box:nth-of-type(1), .feature-box:nth-of-type(2) {
  margin-bottom: 30px;
}
.feature-box span {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}
.feature-box span i {
  font-size: 3rem;
  color: #FF5757;
}

.feature-title{
  text-align: center;
  margin-bottom: 10px;
}

/*************************************************
course
*************************************************/
#course {
  padding-top: 120px;
}

.course-text {
  font-size: 1.25rem;
  line-height: 2;
  text-align: center;
  margin-bottom: 40px;
}

.course-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.course-item:not(:last-child) {
  margin-bottom: 30px;
}

.course-item:nth-child(even) {
  flex-direction: row-reverse;
}
.course-item .course-img {
  width: 48%;
}

.course-img img{
  width: 100%;
  max-height: 400px; 
  object-fit: cover;
  object-position: center 0%;
  vertical-align: bottom;
}

.course-texts {
  width: 48%;
}

.course-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.course-feature-title {
  margin-bottom: 20px;
  font-size: 1.125rem;
  font-weight: 500;
}

.course-feature-desc:not(:last-child) {
  margin-bottom: 10px;
}
/*************************************************
price
*************************************************/
#fee {
  padding-top: 120px;
}

.fee-text, .fee-good-deal {
  font-size: 1.25rem;
  line-height: 2;
  text-align: center;
}

.fee-text .fee-emp,
.fee-good-deal .fee-emp{
  font-size: 1.375rem;
  font-weight: 600;
}

.fee-good-deal {
  margin-bottom: 40px;
}
.fee-text .fee-emp {
  background: linear-gradient(transparent 50%, #faec24 50%);
}

.fee-good-deal .fee-emp{
  background: linear-gradient(transparent 50%, #ff60ff 50%);
}

.fee-table {
  width: 100%;
  margin: 0 auto;
}

.fee-table table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

.fee-table th, .fee-table td {
  border-bottom: 1px solid #CCC;
  border-right: 1px solid #CCC;
  padding: 5px 10px;
}
.fee-table table thead tr:first-child th {
  border-top: 1px solid #CCC;
  font-size: 1.25rem;
  background-color: #fdbb40;
}

.fee-table table thead tr th:first-child,
.fee-table table tbody tr th {
  border-left: 1px solid #CCC;
}
.fee-table table thead tr th:first-child {
  border-top-left-radius :20px;
}

.fee-table table thead tr th:last-child {
  border-top-right-radius :20px;
}

.fee-table table tbody tr:last-child th {
  border-bottom-left-radius :20px;
}

.fee-table table tbody tr:last-child td:last-child {
  border-bottom-right-radius :20px;
}

.fee-table table td {
  font-size: 1.125rem;
  text-align: center;
}
.fee-table table tbody tr .fee-course {
  font-size: 1.25rem;
  background-color: #f1f1f1;
  text-align: left;
}

.fee-table table tbody tr .fee-discount {
  font-weight: 700;
  color: red;
}
/*************************************************
voice
*************************************************/

#voice {
  background-color: #FFF;
  padding-top: 120px;
}

.voice-text {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 40px;
}

.voice-list {
  display: flex;
  justify-content: space-between;
  background-color: #f1f1f1;
  border-radius: 20px;
  padding: 30px 20px;
}

.voice-item {
  width: 32%;
}

.student-img {
  display: block;
  text-align: center;
}

.student-img img{
  width: 75px;
  height: 90px;
}

.student-info {
  padding: 20px;
}

.student-name {
  font-weight: 500;
  margin-bottom: 20px;
}
/*************************************************
slider
*************************************************/
.slider {
  width: 100%;
  height: 300px;
  padding-top: 120px;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  transition-timing-function: linear;
}

.swiper-slide {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
/*************************************************
news
*************************************************/
#news {
  background-color: #FFF;
  padding-top: 120px;
}

.news-list {
  border: 3px solid #CCC;
  border-radius: 5px;
  padding: 20px 30px;
  overflow-y: scroll;
  height: 170px;
}
.news-item {
  width: 100%;
  display: flex;
}
.news-item:not(:last-child) {
  margin-bottom: 20px;
}
.date {
  flex: 0 0 120px;
  margin-right: 10px;
}
.tag {
  display: inline-block;
  padding: 0 5px;
  border-radius: 50px;
  color: #FFF;
  font-size: 0.8rem;
  flex: 0 0 130px;
  text-align: center;
  line-height: 2;
}

.campaign {
  background-color: rgb(76, 202, 252);
}

.event {
  background-color: rgb(247, 119, 140);
}

.topic {
  background-color: rgb(106, 81, 250);
}
.new {
  background-color: #ff57db;
}
.info-content {
  padding-left: 30px;
  flex: 0 0 auto;
}
.info-content a {
  color: #333;
  position: relative
}
.info-content a:hover{
  text-decoration: underline;
}
/*************************************************
q-a
*************************************************/
#q-a {
  padding-top: 120px;
}
details {
  margin-bottom: 20px;
}

details .question, details .answer{
  position: relative;
  font-size: 1.25rem;
  padding: 30px 80px;
}
details .question::before, details .answer::before{
  position: absolute;
  content: "";
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}

details .question::before {
  background-image: url("../img/question.png");
}
details .answer::before {
  background-image: url("../img/answer.png");
}

details .question {
  border: 1px solid #CCC;
  cursor: pointer;
  position: relative;
}

details .answer {
  background-color: #FF5757;
  color: #FFF;
}

details summary {
  display: block;
  list-style: none;
}

details summary::-webkit-details-marker{
  display: none;
} 

details summary .icon::before, details summary .icon::after {
  content: "";
  width: 20px;
  height: 2px;
  background-color: #333;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
} 

details summary .icon::before{
  transform: rotate(90deg);
  transition: 0.3s ease-in;
}

details[open] summary .icon::before{
  transform: rotate(0deg);
}


/*************************************************
access
*************************************************/
#access {
  background-color: #FFF;
  padding-top: 120px;
} 

.access-wrap {
  display: flex;
  
}

.access-text {
  width: 50%;
}

.school-info {
  display: flex;
  flex-wrap: wrap;
}

.tel {
  pointer-events: none;
  color: #333 !important;
}

.access-title {
  font-size: 1.2rem;
  margin-bottom: 30px;
  display: inline-block;
  border-bottom: 2px dotted #333;
}
.school-info dt {
  width: 30%;
  font-weight: 700;
}
.address-icon {
  margin-right: 10px;
}
.access-icon {
  margin-right: 10px;
}
.school-info dd {
 width: 70%;
}
.access-map {
  width: 50%;
}
.map {
  padding-top: 75%;
  position: relative;
  width: 100%;
}

iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0;
}
/*************************************************
contact
*************************************************/
#contact {
  padding: 120px 0;
}

.contact-text {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 30px;
}

.contact-form dl{
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #CCC;
}

dl {
  margin-bottom: 60px;
}

.contact-form dl dt, .contact-form dl dd {
  border-bottom: 1px solid #CCC;
  border-left: 1px solid #CCC;
  padding: 30px;
}

.contact-form dl dt {
  width: 30%;
  background-color: #f8e0e0;
  font-weight: 600;
  display: flex;
  align-items: center;
  border-left: 1px solid #CCC;
}

.contact-form dl dd {
  width: 70%;
  border-right: 1px solid #CCC;
}
.required {
  background-color: #FF5757;
  color: #FFF;
  padding: 1px 3px;
  font-size: 0.875rem;
  font-weight: 600;
  margin-right: 10px;
}
.caution {
  display: block;
  color: red;
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 10px;
}

input, select, textarea {
  border: 1px solid #CCC;
  border-radius: 5px;
}

input[type="radio"], input[type="checkbox"] {
  margin-right: 10px;
}

input[type="radio"]:first-child + span, input[type="checkbox"]:not(:last-child) + span{
  margin-right: 20px;
}
input[type="date"], select {
  color: #333;
  padding-left: 5px;
}

input:not([type="date"]), textarea{
  padding: 10px 20px;
}

.zip-btn {
  border: 1px solid #CCC;
  border-radius: 5px;
  background: #333;
  color: #FFF;
  padding: 5px 10px;
  margin-left: 10px;
}

.year, .month, .day  {
  width: 10%;
}

.lesson-time {
  width: 15%
}

.job, .pref {
  width: 15%;
}

.name1, .name2, .email, .p-locality, .p-street-address, .address1, .address2, .p-extended-address, textarea {
  width: 100%;
}

/*************************************************
footer
*************************************************/

footer {
  background-color: #FF5757;
  padding: 30px;
}

.footer-logo {
  width: 130px;
  height: 40px;
  margin: 0 auto 30px auto;
}
.footer-logo a{
  display: inline-block;
  width: 100%;
  height: 100%;
}
.footer-logo a img {
  height: 100%;
}
.copyright {
  font-size: 0.635rem;
  color: #FFF;
  text-align: center;
}

/*************************************************
SP
*************************************************/

@media (max-width: 768px) {

  .contact-btn a{
    font-size: 0.7rem;
    width: 180px;
    padding: 8px;
  }
  .sec-title {
    line-height: 1;
  }

  .sec-title .ja {
    font-size: 1.5rem;
  }
  .sec-title .en {
    display: block;
    font-size: 0.8rem;
    margin: 10px auto 0 auto;
  }
  .sp-only {
    display: block;
  }

  .container {
    padding: 0 15px;
  }

  .loading-letters {
    font-size: 2.4rem;
  }

  .loading-text {
    font-size: 0.75rem;
  }
  /*************************************************
  header
  *************************************************/
  
  .header-pc {
    display: none;
   }

  .header-sp {
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
   }

   .sp-logo {
    width: 100px;
    height: 30px;
   }

   .sp-logo a {
    display: inline-block;
    width: 100%;
    height: 100%;
   }

   .sp-logo a img {
    width: 100%;
    height: 100%;
    vertical-align: top;
    margin: 0;
    padding: 0;
   }
   .header-sp-list {
    display: flex;
    justify-content: flex-end;
    height: 100%;
   }

  .header-sp-item {
    background-color: #FF5757;
    padding: 10px 0;
    width: 70px;
    cursor: pointer;
    transition: 0.3s ease-in;
  }

  .header-sp-item:hover {
    opacity: 0.6;
  }

  .header-sp-item:not(:last-child) {
    border-right: 2px dotted #FFF;
  }

  .header-sp-item a,
  .header-sp-item:nth-child(3) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-sp-item a .fa-phone, 
  .header-sp-item a .fa-envelope,
  .header-sp-item .fa-bars {
    font-size: 1.125rem;
    margin: 0 auto 5px auto;
    color: #FFF;
    transition: 0.3s ease-in;
  }

  .header-sp-item .header-sp-caption {
    display: block;
    color: #FFF;
    font-size: 0.625rem;
    font-weight: 700;
    text-align: center;
  }

  .nav-menu .nav-menu-item a {
    font-size: 1.125rem;
  }

  .nav-menu .nav-menu-item .nav-sns .nav-sns-item a  .fa-brands{
    font-size: 1.5rem;
  }
  /*************************************************
  mainvisual
  *************************************************/
  .mainvisual {
    margin-top: 0;
    height: 70vh;
    padding-top: 70px;
  }
  .mainvisual-list {
    max-height: 400px;
  }
  .mainvisual picture source, .mainvisual picture img {
    object-position: 45% 10%;
  }
 
  .mainvisual-text {
    left: 2%;
    width: 90%;
    max-width: 400px;
  }

 .catchcopy {
  bottom: 33%;
  left: 7%;
  font-size: clamp(1.125rem, 2vw, 3rem); 
 }

 .mainvisual-list {
   column-gap: 0.5em; 
 }
 .mainvisual-item {
  width: calc((100% - 1em) / 3);
 }

 .mainvisual-item span {
  font-size: clamp(0.625rem, 1vw, 1rem);
 }
  /*************************************************
  feature
  *************************************************/
  #feature {
    padding-top: 90px;
  }
  .feature-text {
    text-align: left;
    font-size: 1.125rem;
  }
  .feature-inner {
    flex-direction: column;
  }

  .feature-box {
    width: 100%;
    margin-bottom: 30px;
  }
  
  /*************************************************
  course
  *************************************************/
  #course {
    padding-top: 90px;
  }
  .course-text {
    font-size: 1.125rem;
  }

  .course-item {
    flex-direction: column;
  }

  .course-item:nth-child(even) {
    flex-direction:  column;
  }

  .course-item .course-img {
    width: 100%;
    margin-bottom: 15px;
  }

  .course-texts {
    width: 100%;
  }

  /*************************************************
  fee
  *************************************************/
  #fee {
    padding-top: 90px;
  }
  
  .fee-text, .fee-good-deal {
    font-size: 1.125rem;
    text-align: left;
  }

  .fee-text .fee-emp,
  .fee-good-deal .fee-emp{
    font-size: 1.25rem;
  }

  .head{
    display: none;
  }

  .fee-table th, .fee-table td {
    display: block;
    width: 100%;
    border-left: 1px solid #CCC;
  }
  .fee-table table tbody tr td {
    position: relative;
    height: 40px;
  }
  .fee-table table tbody tr td .fee-detail{
    position: absolute;
    top: 0;
    right: 0%;
    display: inline-block;
    height: 100%;
    font-size: clamp(0.625rem, 2vw, 1.25rem);
    padding: 9px;
    width:70%;
  }
  .fee-table table td:before {
    background-color: #fdbb40;
    content: attr(data-label);
    font-size: clamp(0.625rem, 2vw, 1.25rem);
    font-weight: 600;
    padding-left: 5px;
    text-align: left;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
 }

  .fee-table table tbody tr:first-child th {
    border-top:1px solid #CCC;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .fee-table table tbody tr:last-child th {
      border-bottom-left-radius: 0;
  }

  .fee-table table tbody tr:last-child td:last-child,
  .fee-table table tbody tr:last-child td:last-child::before {
    border-bottom-left-radius: 20px;
  }

  .fee-table table tbody tr .fee-course {
    font-size: clamp(0.875rem, 1.2vw, 1rem);
  }

  .fee-table .fee-caution {
    font-size: clamp(0.625rem, 2vw, 1.25rem);
  }
  /*************************************************
  voice
  *************************************************/
  #voice {
    padding-top: 90px;
  }
  .voice-text {
    font-size: 1.2rem;
  }
  .voice-list {
    flex-direction: column;
    padding: 30px 0px;
  }

  .voice-item {
    width: 100%;
  }
  .voice-item:not(:last-child) {
    margin-bottom: 20px;
  }
  /*************************************************
  news
  *************************************************/
  #news {
    padding-top: 90px;
  }
  .news-item {
    flex-wrap: wrap;
  }
  .info-content {
    width: 100%;
    padding-left: 0;
  }
  /*************************************************
  q-a
  *************************************************/
  #q-a {
    padding-top: 90px;
  }
  details .question, details .answer{
    font-size: 1rem;
    padding: 15px 45px;
  }
  details .question::before, details .answer::before{
    width: 25px;
    height: 25px;
    left: 10px;
  }
  
  /*************************************************
  access
  *************************************************/
  #access {
    padding-top: 90px;
  }
  .access-wrap {
    flex-direction: column;
  }
  .access-text {
    margin-bottom: 30px;
    width: 100%;
  }
  .school-info {
    flex-direction: column;
  }

  .access-map {
    width: 100%;
    height: 40%;
  }
  /*************************************************
  contact
  *************************************************/
  #contact {
    padding: 90px 0;
  }
  .contact-form {
    width: 100%;
  }

  .contact-form dl{
    flex-direction: column;
  }
  
  .contact-form dl dt, .contact-form dl dd {
    padding: 15px;
    width: 100%;
  }
  
  .contact-form dl dt {
    border-right: 1px solid #CCC;
  }
  .contact-btn.submit a {
    width: 100%;
    font-size: 1rem;
  }
  
  input[type="radio"]:first-child + span, input[type="checkbox"]:not(:last-child) + span {
    font-size: 0.875rem;
  }

  input:not([type="date"]) {
    padding: 10px;
  }

  .year, .month, .day  {
    width: 20%;
  }
  
  .lesson-time {
    width: 35%
  }
  
  .job, .pref {
    width: 35%;
  }
  /*************************************************
  footer
  *************************************************/
  footer {
    padding: 30px 10px;
  }
  .footer-logo {
    width: 130px;
    height: 40px;
    margin: 0 auto 10px auto;
  }
}